# PostgreSQL
POSTGRES_HOST=seu_host_do_banco
POSTGRES_PORT=5432
POSTGRES_DATABASE=nome_do_banco
POSTGRES_USERNAME=usuario_do_banco
POSTGRES_PASSWORD=sua_senha_do_banco

# JWT
JWT_SECRET_KEY=sua_chave_secreta_com_bastante_caracteres
JWT_ISSUER=LojaEstoque
JWT_AUDIENCE=LojaEstoqueUsuarios
JWT_EXPIRATION_MINUTES=120